footer.footer
  .shoutout
    h4.text-center=env.t('contribUse')

    .row
      .col-lg-2.col-md-2.col-md-offset-1.col-sm-4
        a(href='http://ionicframework.com/')
          .logo-ionic.col-centered
      .col-lg-2.col-md-2.col-md-offset-0.col-sm-4
        a(href='https://www.jetbrains.com/webstorm/')
          .logo-webstorm.col-centered
      .col-lg-2.col-md-2.col-md-offset-0.col-sm-4
        a(href='http://github.com/')
          .logo-github.col-centered
      .col-lg-2.col-md-2.col-md-offset-0.col-sm-4.col-sm-offset-2
        a(href='https://trello.com/')
          .logo-trello.col-centered
      .col-lg-2.col-md-2.col-md-offset-0.col-sm-4
        a(href='https://slack.com/')
          .logo-slack.col-centered

  .row.footer-content
    include ../../shared/footer

