doctype html
html(ng-app='habitrpg', ng-controller='RootCtrl')
  head
    meta(charset='utf-8')
    link(href='//fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    title Habitica | Your Life the Role Playing Game
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    meta(name='geo.placename', content='')
    //if IE
      meta(http-equiv='imagetoolbar', content='no')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    meta(property='og:site_name', content='')
    link(rel='canonical', href='', type='text/html')
    //-link(rel='sitemap', type='application/xml', title='Sitemap', href='/sitemap.xml')
    link(rel='shortcut icon', href='/favicon.ico')
    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')

    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, env.clientVars))};
    !=env.getManifestFiles("tmp_static_front")

  body(ng-controller='AuthCtrl')
