section#health.bg-danger.container-fluid
  .row
    .col-lg-5.col-lg-offset-1.col-md-5.col-sm-12
      h2.headline=env.t('punishHeading1')
  .row
    .col-lg-5.col-lg-offset-1.col-md-5.col-sm-12
      h2=env.t('punishHeading2')
      p.sectioninfo=env.t('punishByline')
      .scrolltweet.hidden-xs.hidden-sm
        img.scrolltweet-image(data-toggle='tooltip', data-placement='top', title='Zelah Meyer', src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/testimonials/Zelah_Meyer.png')
        .tweet.popover.right.pull-right
          .arrow
          .popover-content=env.t('zelahQuote')
    .col-lg-4.col-md-4.col-lg-offset-1.col-sm-8.well.col-xs-8.col-xs-offset-2.col-sm-offset-2.well-lg
      h2
        span.glyphicon.glyphicon-unchecked
      .health-progress
        .meter-label(tooltip='Health')
          span.glyphicon.glyphicon-heart
        .meter.health
          .bar
            div(style='width:100%;') &nbsp;
      h2
        span.glyphicon.glyphicon-arrow-down
      .health-progress
        .meter-label(tooltip='Health')
          span.glyphicon.glyphicon-heart
        .meter.health
          .bar
            div(style='width:50%;') &nbsp;
    button.btn.btn-primary.btn-lg.fixedcta.gamifybutton(ng-click='playButtonClick()')=env.t('gamifyButton')

