#intro
  h1=env.t('motivate1')
  img.center-block.img-responsive(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/intro.png')
  // insert intro images
  .introcall.bg-success
    h4=env.t('joinOthers')
      small
        button#play-btn.btn.btn-primary.btn-lg.gamifybutton(ng-click='playButtonClick()')=env.t('free')
  .presslogos.text-center=env.t('featuredIn')
    br
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/lifehacker.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/nyt-logo.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/makeuseof.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Forbes_logo.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Cnetlogo.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Fast-Company-logo.png')
    img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/kickstarter-logo.png')

#intro-text
  .container-fluid
    .row
      .col-md-8.col-md-offset-2
        p.lead.text-center=env.t('leadText')
